<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="MyBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client><!--vs2010 自己加-->
          <endpoint address="http://crazed-it.frog.tw/tools/cs_soap/testserver.php" binding="customBinding" bindingConfiguration="MyBinding" contract="MyPHPServer.MyPortType" name="MyPort" />
        </client>
    </system.serviceModel>
</configuration>